body {
    background-image: url("../images/textbook.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.top{
    margin-top:100px;
}